{% extends "input.html" %}

{% block content %}
<div class="container row1 row">
    <div class="title col-md-4">
        <h1>{{judul}}</h1>
    </div>
</div>
<div class="container row2">
    <form method="post">
        {%csrf_token%}
        <div class="container">
            <div class="form row">
                <div class="col-md-4 form1">
                    <div class="form-group">
                        {{soiltemp_form_staklim.tanggal.label}}
                        {{soiltemp_form_staklim.tanggal}}
                    </div>
                    <div class="form-group">
                        {{soiltemp_form_staklim.jam.label}}
                        {{soiltemp_form_staklim.jam}}
                    </div>
                </div>
                <div class="col-md-7 form2">
                    <div class="container row">
                        <div class="form-group col-md-6">
                            {{soiltemp_form_staklim.suhu.label}}
                            {{soiltemp_form_staklim.suhu}}
                        </div>

                        <div class="form-group col-md-6">
                            {{soiltemp_form_staklim.kelembaban.label}}
                            {{soiltemp_form_staklim.kelembaban}}
                        </div>
                    </div>
                    <div class="container row">
                        <div class="form-group col-md-6">
                            {{soiltemp_form_staklim.tekanan.label}}
                            {{soiltemp_form_staklim.tekanan}}
                        </div>

                        <div class="form-group col-md-6">
                            {{soiltemp_form_staklim.radiasi_matahari.label}}
                            {{soiltemp_form_staklim.radiasi_matahari}}
                        </div>
                    </div>
                    <div class="container row">
                        <div class="form-group col-md-6">
                            {{soiltemp_form_staklim.wind_speed.label}}
                            {{soiltemp_form_staklim.wind_speed}}
                        </div>

                        <div class="form-group col-md-6">
                            {{soiltemp_form_staklim.rain_fall.label}}
                            {{soiltemp_form_staklim.rain_fall}}
                        </div>
                    </div>
                    <div class="container row">
                        <div class="container">
                            {% for err in error %}
                            <div class="container alert alert-warning">
                                <strong>Warning!</strong> data {{err}} tidak valid
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="container row">
                        <div class="container">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </form>
</div>
{% endblock content %}