.sidebar {
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color: #FAFAFA;
    position: fixed;
    height: 100%;
}

.navbar{
  visibility: collapse;
}

.navbar a {
  padding: 6px 0 6px 6px;
  text-decoration: none;
  color: #525252;
  display: block;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.logo{
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#logo{
  width: 80%;
  height: auto;
}

.menu{
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -40px;
}

.menu-bawah{
    display:block;
    text-align: center;
}

.sidebar i {
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 15px;
    box-shadow:  11px 11px 29px #c9c9c9,
             -11px -11px 29px #ffffff;
    color: #147affc9;
    padding: 15px 15px 15px 15px;
    margin-bottom: 5px;
    align-content: center;
}

p {
    text-align: center;
    font-size: small;
}

.link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7vw;
    height: auto;
}

.logout {
    margin-left: auto;
    margin-right: auto;
}

.user {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
}

#logout {
  color: #193B68;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.sidebar a.link {
    color: #193B68;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
}
 
.sidebar i.active {
  background: linear-gradient(145deg, #126de6, #1581ff);
  box-shadow:  14px 14px 28px #0e57b8,
             -14px -14px 28px #1a9bff;
  color: #FFFFFF;
}

.sidebar p.font-active {
  color: #1479FF;
}

.sidebar i:hover:not(.active) {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  14px 14px 28px #949494,
             -14px -14px 28px #ffffff;
  color: #147aff;
}

.sidebar a#logout:hover:not(.active) {
  color: #1479FF;
}

.content {
    margin-left: 17vw;
    padding: 0px 10px;
    width: 81vw;
}

@media only screen and (max-device-width: 750px) {
  .navbar{
      visibility: visible;
  }
  .sidebar {
      visibility: collapse;
  }
  .content{
      margin-top: 30px;
      margin-left: 0px;
  }
}