{% extends "logdata.html" %}

{% block depth %}
<th scope="col">0cm</th>
<th scope="col">2cm</th>
<th scope="col">10cm</th>
<th scope="col">20cm</th>
<th scope="col">50cm</th>
{% endblock depth %}

{% block table %}
<td>{{soiltemp.tanggal}}</td>
<td>{{soiltemp.jam}}</td>
<td>{{soiltemp.suhu}}</td>
<td>{{soiltemp.kelembaban}}</td>
<td>{{soiltemp.tekanan}}</td>
<td>{{soiltemp.radiasi_matahari}}</td>
<td>{{soiltemp.wind_speed}}</td>
<td>{{soiltemp.rain_fall}}</td>
<td>{{soiltemp.cm_0}}</td>
<td>{{soiltemp.cm_2}}</td>
<td>{{soiltemp.cm_10}}</td>
<td>{{soiltemp.cm_20}}</td>
<td>{{soiltemp.cm_50}}</td>
{% endblock table %}