{% extends "base.html" %}

{% load static %}

{% block style %}
<style>
    h1{
        border-bottom-style: solid;
        border-bottom-color: #1479FF;
        color: #193B68;
        font-size: 52px;
        font-weight: 600;
        margin-top: 30px;
        padding-top: 20px;
    }

    .form{
        display: flex;
        justify-content: space-between;
        
    }

    .form1{
        height: 200px;
        margin-top: 10px;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 20px 20px 20px 20px;
    }

    .form2{
        margin-top: 10px;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 20px 20px 20px 20px;
    }
    @media only screen and (max-device-width: 750px) {
        h1{
            font-size: 32px;
        }
    }
</style>
{% endblock style %}

{% block sidenav %}
    {% include "input/snippets/sidenav_input.html"%}
{% endblock sidenav %}

{% block content %}
<div class="container row1 row">
    <div class="title col-md-4">
        <h1>{{judul}}</h1>
    </div>
</div>
<div class="container row2">
    <form method="post">
        {%csrf_token%}
        <div class="container">
            <div class="form row">
                <div class="col-md-4 form1 shadow">
                    <div class="form-group">
                        {{update_form.tanggal.label}}
                        {{update_form.tanggal}}
                    </div>
                    <div class="form-group">
                        {{update_form.jam.label}}
                        {{update_form.jam}}
                    </div>
                </div>
                <div class="col-md-7 form2 shadow">
                    <div class="container row">
                        <div class="form-group col-md-6">
                            {{update_form.suhu.label}}
                            {{update_form.suhu}}
                        </div>

                        <div class="form-group col-md-6">
                            {{update_form.kelembaban.label}}
                            {{update_form.kelembaban}}
                        </div>
                    </div>
                    <div class="container row">
                        <div class="form-group col-md-6">
                            {{update_form.tekanan.label}}
                            {{update_form.tekanan}}
                        </div>

                        <div class="form-group col-md-6">
                            {{update_form.radiasi_matahari.label}}
                            {{update_form.radiasi_matahari}}
                        </div>
                    </div>
                    <div class="container row">
                        <div class="form-group col-md-6">
                            {{update_form.wind_speed.label}}
                            {{update_form.wind_speed}}
                        </div>

                        <div class="form-group col-md-6">
                            {{update_form.rain_fall.label}}
                            {{update_form.rain_fall}}
                        </div>
                    </div>
                    <div class="container row">
                        <div class="container">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </form>
    <div>
        <p>{{error}}</p>
    </div>
</div>

{% endblock content %}