{% extends "base.html" %}

{% block style %}
<style>
    h1{
        border-bottom-style: solid;
        border-bottom-color: #1479FF;
        color: #193B68;
        font-size: 52px;
        font-weight: 600;
        margin-top: 30px;
        padding-top: 20px;
    }

    .form{
        display: flex;
        justify-content: space-between;
        
    }

    .form1{
        height: 200px;
        margin-top: 10px;
        background: linear-gradient(145deg, #f8f8f8, #ffffff);
        box-shadow:  17px 17px 31px #c9c9c9,
             -17px -17px 31px #f1f1f1;
        border-radius: 20px;
        padding: 20px 20px 20px 20px;
    }

    .form2{
        margin-top: 10px;
        background: linear-gradient(145deg, #f8f8f8, #ffffff);
        box-shadow:  17px 17px 31px #c9c9c9,
             -17px -17px 31px #f1f1f1;
        border-radius: 20px;
        padding: 20px 20px 20px 20px;
    }

    input, select{
        background: #FFFFFF;
        box-shadow: inset 5px 5px 14px #ededed,
            inset -5px -5px 14px #ffffff;
    }

    @media only screen and (max-device-width: 750px) {
        h1{
            font-size: 32px;
        }
    }
</style>
{% endblock style %}

{% block sidenav %}
    {% include "input/snippets/sidenav_input.html"%}
{% endblock sidenav %}

{% block content %}

{% endblock content %}